PORT=4000
DATABASE_URL="file:./dev.db"
OPENAI_API_KEY=
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
